<div class="card">
  <input type="text" id="calc" name="calc" readonly="$1" value={{tampil}}>
  <div class="">
    <br>
    <button (click)=enol()>0</button>
    <button (click)=satu()>1</button>
    <button (click)=dua()>2</button>
    <br><br>
    <button (click)=tiga()>3</button>
    <button (click)=empat()>4</button>
    <button (click)=lima()>5</button>
    <br><br>
    <button (click)=empat()>6</button>
    <button (click)=tujuh()>7</button>
    <button (click)=delapan()>8</button>
    <br><br>
    <button (click)=sembilan()>9</button>
    <br><br>
    <button (click)=kurang()>-</button>
    <button (click)=tambah()>+</button>
    <button (click)=kali()>x</button>
    <button (click)=hasile()>=</button>
    <br><br>
    <button (click)=reset()>reset</button>
  </div>
</div>
<router-outlet></router-outlet>